%footer
  .footer
    .footer-inside
      Vertrieb: Radsport BERNER - Telefon: 0151-56141446 - Email: info@berner-bikes.com
  .copyright
    %em 
      ©2011 BERNER-Bikes.com // created by 
      %span.link 27sparks 
      webdesign and development
