%ul
  %li Autobahn
  %li Hundekuchen
  %li Bundesland
  %li Berner CSL 09

  %li Schaltwerke
  %li SRAM Red
  %li Shimano DA
  %li Campagnolo

  %li Cross Brake CB2
  %li Zughalter


  %li Team Berner
  %li Team Sound so
  %li Sportakademie
  %li Usw. die Helden
  %li H채ndler
  %li Radkreuz Berlin
  %li H채ndler XY
  %li Autobahn
  %li Hundekuchen
  %li Bundesland
  %li Berner CSL 09

  %li Schaltwerke
  %li SRAM Red
  %li Shimano DA
  %li Campagnolo

  %li Cross Brake CB2
  %li Zughalter


  %li Team Berner
  %li Team Sound so
  %li Sportakademie
  %li Usw. die Helden
  %li H채ndler
  %li Radkreuz Berlin
  %li H채ndler XY