#content {
	a {
		color: #444;
		background: none;
		text-decoration: none;
	}
	a:hover {
		color: #d00;
	}
    #display {
    	min-height:540px;
    	background: url('content_back.jpg');
    }
    .workspace {
		padding: 20px 0 20px 0;
	}
	#order_form, #order_items {
		float: left;
		width: 480px;
	}

	.item {
		padding: 0;
		width: 320px;
		height: 270px;
		display: block;
		float: left;
		position: relative;
		.item_name {
	    	background: url('menu_back.jpg');
			opacity: 1	;
			text-align: left;
			position: absolute;
			bottom: 0px;
			right: 0px;
		    border-top-left-radius: 10px;
		    box-shadow: 0px 0px 10px #fff;

			h1 {
				margin: 0px 20px 0px 20px;
				display: block;
				float: left;
				font-size: 18px;
				font-family: Helvetica, Arial, sansserif;
				font-weight: normal;
				line-height: 36px;
				color: #000;
				a:link, a:visited, a:active {
					color: #444;
					text-decoration: none; 
				}
				a:hover {
					color: #c00;
					background: none;
				}
			}
			h2 {
				font-size: 16px;
				a{
					color: #fff;
				}
				a:hover{
					color: #222;
				}
				display:block;
				float: right;
				padding: 0px 15px 0px 15px;
				background: #c00;	
				line-height: 36px;

			}
		}
		.initial {
			height: 100%;
			width: 100%;
			text-align: center;
			h1{
				font-size: 48px;
				
			}
			h2{
				font-size: 24px;
				color: #d00;
			}
		}
	}
	.field {
        padding: 5px 20px;
        .label {
			font-size: 14px;
			width: 100px;
			float: left;
		}
		.old_image {
			width: 150px;
			float: left;
		}

	}
	.field.images{
		height:68px;
	}
    .field:nth-child(2n) {
        background: #eee;
        padding: 10px 20px;
    }
	


	h1 {
		margin: 20px;
	}
	section{
		width:319px;
		display: block;
		float: left;
		border-left: solid 1px #ddd;
		height: 484px;
		
		h1 {
			background: url(menu_back.jpg);
			background-repeat: repeat-x;
			margin: 0px;
			padding-left: 20px;
			font-size:20px;
		}
		ul {
			list-style: square;
			margin: 10px 0 20px 20px;
		}
		li {
			line-height: 20px;
		}
		
	}
    .slide_image, .product_image {
		position: absolute;
	}
	.slide-tag {
		position: absolute;
		bottom: 40px;
		width: 100%;
		background: #ddd;
		opacity: .8;
		h1 {
			font-size: 48px;
			font-family: Helvetica, Arial, sansserif;
			font-weight: bold;
			line-height: 70px;
			color: #000;
			margin: 0 20px 0 0;
			float: right;
		}
		h2 {
			font-family: 'Special Elite', arial, serif;
			font-size: 42px;
			line-height: 82px;
			color: #d00;
			margin-right: 20px;
			float:right;
		}
	}
	
	.product_description {
	    position: absolute;
	    bottom: -10px;
	    right: 10px;
	    width: 240px;
	    border-top-left-radius: 10px;
	    padding: 10px 10px 10px 10px;
	    background: #eee;
		opacity: 1;
	    box-shadow: 0px 0px 10px #fff;

		hgroup{
			cursor: pointer;
	    	background: url('menu_back.jpg');
			width: 260px;
			height: 36px;
			margin: -10px -10px -10px -10px;
		    border-top-left-radius: 10px;
		    box-shadow: 0px 2px 5px #aaa;
		}
		.down {
			float: right;
		}
		h1 {
			margin:0;
			padding: 0px 10px 0 10px;
			display: block;
			float: left;
			font-size: 20px;
			font-family: Helvetica, Arial, sansserif;
			font-weight: normal;
			line-height: 36px;
			color: #000;

		}
		h2 {
			font-size: 18px;
			font-family: Helvetica, Arial, sansserif;
			color: #fff;
			display:block;
			float: right;
			padding: 0px 10px 0px 10px;
			background: #c00;	
			line-height: 36px;

		}
		.description {
			clear: left;
			margin-top: 30px;

		}
		.price {
			font-size: 28px;
			font-weight: bold;
			color: #000;
	    	background: url('menu_back.jpg');
			padding: 9px 10px 9px 20px;
			text-align: right;
			font-style: italic;	
			margin: 20px -10px 0px -10px;
		    box-shadow: 0px 2px 5px #aaa;
		}
		.tax {
			float: right;
		}
		
	}

.pagination {
	padding: 9px;
	background: url('menu_back.jpg');
}
#notice {
	position: fixed;
	display: block;
	height: 32px;
	bottom: 0px;
	right: 0px

}	
	
}